body,ul{margin:0;}
ul{padding:0;}
ul{list-style:none;}
a{text-decoration: none;color:#000;}
h3,h5{margin:0;}
#header{
	height:50px;width:100%;
	background-color: #efefef;
	position: relative;
}
#header ul.nav{
	margin-left: 52px;
	height:100%;
}
#header ul.nav li{
	float: left;
	line-height:50px;
	width:145px;
	font-size:23px;
	font-family: "微软雅黑";
}
#header ul.nav a.sixth{color:#9c6;}
.center{width:1200px;margin:0 auto;}
#header>.center img{margin-top:8px;}
#header>.center .logo{
	position: absolute;
	top:75px;left:360px;
}
#header>.center h1{
	font-size:40px;
	color:#f6fafe;
	position:absolute;
	top:55px;left:500px;
	font-family: "楷体";
}
#header>.center span{
	font-size:21px;
	color:#fff;
	position:absolute;
	top:150px;left:495px;
	font-family: "微软雅黑";
}
#header>.center .come{
	position: absolute;
	top:200px;left:850px;
}

.center #content{
	width:100%;
	margin-top:230px;
	position: relative;
	font-family: "微软雅黑";
}
#content .leftnav{
	width:195px;height:2020px;
	border:1px solid #8ed263;
	border-bottom: none;
}
#content .leftnav h3{
	width:100%;height:55px;
	background-color: #99cc66;
	color:#fff;
	line-height: 55px;
	font-size:20px;
	font-weight: normal;
}
#content .leftnav li{
	width:100%;height:50px;
	background-color: #9cc;
	text-align: center;
	color:#fff;
}
#content .leftnav li>a{
	color:#fff;
	font-size:20px;	
}
#content .leftnav li:first-of-type{padding-top:30px;}
#content .right{
	width:985px;
	position: absolute;
	top:0;right:0;
}

#content .right .club>div{
	width:100%;height:35px;
	background-color: #9c6;
	color:#fff;
	font-size:20px;
	line-height: 35px;
}
#content .right .club img{margin-top:53px;}
#content .right .club p{
	float: right;
	width:825px;
	font-family: "宋体";
	font-size:15px;
	color:#07142e;
	line-height:26px;
}

#content .right .club1>div{
	margin-top:60px;
	width:100%;height:35px;
	background-color: #9c6;
	color:#fff;
	font-size:20px;
	line-height: 35px;
}
#content .right .club1 ul{margin-top:20px;}
#content .right .club1 ul li{float: left;}
#content .right .club1>.create{
	width:100%;height:72px;
	background-color: #cfc;
	margin-top: 235px;
	color:#6c3;
	font-size:32px;
	line-height:72px;
	text-align:center;
}
#content .right .font{
	width:100%;
	margin-top: 220px;
	font-family: "宋体";
}
#content .right .font h5{
	font-size:15px;
	color:#393;
}
#content .right .font p{
	font-size:15px;
	color:#333;
	line-height: 26px;
	margin-left:10px;
}
#content .right .font img{
	border:3px solid #000;
	margin-top:26px;
}
#content .right .font .SJCLZine{
	width:532px;
	float: right;
	margin-top:60px;
}
#content .right .bottom{
	width:100%;
	margin-top:20px;
}
#content .right .bottom>div{
	width:100%;height:35px;
	background-color: #9c6;
	color:#fff;
	font-size:20px;
	line-height: 35px;
}
#content .right .bottom>p{
	width:629px;
	float: left;
	font-size: 15px;
	color:#333;
	line-height:28px;
}
#content .right .bottom>img{margin-top:60px;}

#footer{
	width:100%;height:205px;
	background-color: #f5f5f5;
	margin-top: 70px;
}
#footer>ul{
	padding-top:26px;
	margin-left:355px;
}
#footer>ul li{
	float: left;
	width:108px;
	color:#555;
	text-align: center;
	font-family: "宋体";
	font-size:15px;
	border-right: 1px solid black;
}
#footer>ul li:last-child{border-right: none;}
#footer>p{
	margin-left: 410px;
	margin-top: 30px;
	float: left;
	color:#555;
	font-size: 13px;
	line-height: 23px;
}
#footer>p a{
	margin-left: 90px;
	font-size:12px;
	float: left;
	color:#555;
}