body,ul{margin:0;}
img{vertical-align: top;}
a{text-decoration: none;color:#000;}
ul{padding:0;list-style: none;}
#warp{width:1200px;margin:0 auto;}

#header{
	width:100%;height:412px;
	background-size: 100% 100%;
	position: relative;
	top:10px;
}
#logo{
	margin-top:60px;
	margin-left:540px;
}
#header>span{
	color:#fff;
	font-size:36px;
	font-family: "KaiTi";
	position: absolute;
	top:195px;left:460px;
	text-shadow: 0 5px 5px #000;
}
#header>p{
	color:#fff;
	font-size:21px;
	line-height:37px;
	position: absolute;
	top:240px;left:460px;
	font-family: "MicrosoftYahei";
}
#header #banner{
	position: absolute;
	width:100%;height: 410px;
	top:0;left:0;
	z-index:-1;
}
#header #banner img{
	width:100%;height:410px;
	position: absolute;
	top:0;left:0;
	opacity: 0;
	animation-timing-function:linear;
	animation-duration:0.6s;
	animation-fill-mode:forwards;
}
#header #banner img:nth-child(1){opacity: 1;}
#header #banner img.select{animation-name:show;}
#header #banner img.unselect{animation-name:hide;}
@keyframes show{
	from{opacity:0;}
	to{opacity:1;}
}
@keyframes hide{
	from{opacity:1;}
	to{opacity:0;}
}
#nav{
	position: relative;
	top:0;left:0;
	height:50px;width:100%;
	background-color:#efefef;
}
#nav li{
	float: left;
	padding:10px 33px;
	font-size:23px;
}
#nav .active a{color:rgb(171,166,115);position:relative;}

#content{
	width:100%;
	position: relative;
	margin-top:30px;
	font-family: "MicrosoftYahei";
}
#content strong{
	font-size:20px;
	color:#666;
}
#content span{
	float: right;
	color:#666;
	font-size:15px;
	cursor: pointer;
	font-weight: bold;;
}
#content>ul{
	margin-top:20px;
	width:100%;
}
#content>ul li{
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}
#content>ul li:first-child{margin-left: 0;}
#content>ul li div{
	content:'';
	display: block;
	width:188px;height:156px;
	position: absolute;
	top:45px;
	opacity: 0;
	background:rgba(255,255,255,.3);
}
#content>ul li:hover div{
	animation: show 1s;
	animation-fill-mode:forwards;
}
@keyframes show{
	from{opacity: 0;}
	to{opacity: 1;}
}
.left{
	width:100%;height:355px;
	margin-top: 47px;
	position:relative;
	background: url('../images/bg.png');
}
.left #news{
	color:#6666cc;
	float:left;
	font-size:15px;
	margin-top: 12px;
	margin-left: 23px;
}
.left>ul{
	position: absolute;
	top: 38px;left: 23px;
	height:124px;width:351px;
	background-image: url('../images/news.jpg');
}
.left>ul li{
	font-size:12px;
	margin-left:20px;
	margin-top: 9px;
	color:#444549;
}
.left #contact{
	color:#6666cc;
	float:left;
	font-size:15px;
	position: absolute;
	top:182px;left:23px;
}
.left p{
	position: absolute;
	top:190px;left:23px;
	line-height:23px;
	font-size:13px;
	color:#444549;
}
.left>img{
	position: absolute;
	bottom:37px;left:260px;
}
.left>#foucs{
	position: absolute;
	bottom:16px;left:270px;
	font-size:12px;
}
.right{
	width:655px;height:280px;
	position: absolute;
	right:76px;top:293px;
	text-align: center;
}
.right b{
	color:#c33;
	font-size:19px;
	display:block;
}
.right  #photograph{
	color:#c33;
	font-size:14px;
	font-weight: bold;
	position: absolute;
	margin-top: 16px;
	margin-left: -70px;
}

.right p{
	text-indent: 2em;
	margin-top:75px;
	font-size:12px;
	line-height:25px;
	color:#933;
	text-align: left;
}
.right>a{
	position: absolute;
	right: 0;bottom:0;
	font-size:14px;
	color:#933;
}

#content #introduce{
	margin-top:35px;
	width:100%;
}
#content #introduce>img{
	float:right;
}
#content #introduce>.introduce{
	color:#624213;
	font-size:20px;
	position:absolute;
	margin-left: 295px;
	margin-top:6px;
}
#content #introduce>p{
	position: absolute;
	top:675px;
	width:765px;
	text-indent:2em;
	line-height: 26px;
	font-size:15px;
	color:#07142e;
}
#content #introduce>#more{
	position: absolute;
	top:880px;left:670px;
	font-size:15px;
	color:#07142e;
	font-weight: normal;
}

#content #show{
	width:100%;
	margin-top:345px;
	position: relative;
}
#show>span{
	float: left;
	font-size:20px;
	color:#369;
	font-weight: normal;
}
#show>.Showright{
	float: right;
	font-size:15px;
}
#show>img{
	position: absolute;
	top: 40px;left:0;
}
#show>ul{
	position: absolute;
	top:40px;right:0;
	height:610px;width:680px;
}
#show>ul li{
	width:213px;height:195px;
	display:inline-block;
	margin-left: 13px;
	margin-top: 11px;
}
#show>ul .top{margin-top: 0;}

#content #commenting{
	width:100%;
	position: relative;
	margin-top: 1050px;
}
#commenting>span{
	font-size:20px;
	font-family: "微软雅黑";
	color:#96f;
	float: left;
	font-weight: normal;
}
#commenting #youcom{
	float: right;
	font-size: 15px;
}
#commenting>ul{
	position: absolute;
	top:30px;left:0;
	border-top:2px solid #d0cbcb;
}
#commenting>ul li{
	width:225px;height:227px;
	display:inline-block;
	padding-top:20px;
	padding-left: 18px;
	background-color: #f5f5f5;
}
#commenting>ul li:first-child{padding-left: 0;}
#commenting>ul p{
	font-size:12px;
	color:#88888e;
	font-family: "幼圆";
	line-height: 20px;
	margin-left:20px;
}
#commenting ul li>span{
	font-size:12px;
	color:black;
	font-family: "幼圆";
	font-weight: normal;
	position: absolute;
	margin-left:70px;
}

#people{
	position: relative;
	width:100%;
	top:390px;left:0;
}
#people span{
	font-size: 20px;
	font-family: "微软雅黑";
	color:#49a1d0;
	position: absolute;
	top:0;left:0;
	font-weight: normal;
}
#people>#different{
	font-size: 15px;
	font-family: "微软雅黑";
	color:#49a1d0;
	position: absolute;
	top:0;left:1080px;
	font-weight: normal;
}
#people>ul{
	position: absolute;
	top:30px;left:0;
	border-top:2px solid #efefef;
}
#people>ul li{
	display: inline-block;
	margin-left: 19px;
	margin-top: 12px;
}
#people>ul li:first-child{margin-left: 0;}
#people ul li>.wedding{
	font-size:14px;
	color:#333;
	position: absolute;
	bottom:-20px;margin-left:80px;
}
#footer{
	height:125px;width:100%;
	position: relative;
	top:705px;left:0;
	background: #f5f5f5;
}
#footer>ul{
	position: absolute;
	top:24px;
	margin-left: 355px;
}
#footer>ul li{
	display: inline-block;
	border-right:1px solid #555;
	padding:0 18px;
	font-size: 15px;
	color:#555;
}
#footer>ul li:last-child{border-right:none;}
#footer p{
	text-align: center;
	font-size:13px;
	position: absolute;
	top:52px;left:410px;
	color:#555;
}
#footer a{font-size: 12px;color:#555;}
